window {
  margin: 0px;
  border: 5px solid;
  border-image: linear-gradient(135deg, #d65d0e 0%, #98971a 100%) 1;
  background-color: #282828;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
}

#input {
  margin: 5px;
  border: none;
  color: #ebdbb2;
  background-color: #1d2021;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#entry:selected {
  background-color: #d65d0e;
  color: #ffffff;
}
